@font-face {
  font-family: "PT Sans";
  src: url("fonts/ptsans-400.woff2") format("woff2"),
    url("fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-user .navigation-user-item:nth-child(1) .navigation-link {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-user-item:nth-child(2) .navigation-link {
  background-image: url("../images/favorities.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 60px;
}

.button-sign-up {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
  border: 0;
  width: 574px;
  height: 60px;
  margin-bottom: 90px;
  box-sizing: border-box;
  padding: 12px 15px 12px 15px;
}

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 139px;
  padding-left: 70px;
  padding-right: 47px;
}

.navigation-list {
  width: 390px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding-right: 34px;
  padding-top: 20px;
  display: block;
}

.navigation-link.navigation-user-link {
  padding-right: 10px;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.button-sign-up.button-search {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  width: 160px;
  height: 37px;
  margin: 0;
  box-sizing: border-box;
  padding: 9px 15px 8px 15px;
}

.navigation-user-item {
  padding-top: 10px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #333333;
  background-color: #ffffff;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.intro {
  background-image: url("../images/background-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.introducing {
  display: block;
  margin: 0 auto;
}

.annotation,
.search,
.appointment {
  text-align: center;
}

.sedona-annotation,
.interest,
.subscribe {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.interest {
  padding-top: 91px;
}
.interest-description {
  padding-right: 304px;
  padding-bottom: 56px;
  padding-left: 304px;
}

.sedona-annotation {
  padding-top: 63px;
  padding-right: 200px;
  padding-left: 200px;
}
.sedona-short-annotation {
  padding-bottom: 90px;
}
.sedona-short-annotation,
.interest-description,
.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe {
  padding-top: 94px;
}
.subscribe-description {
  padding-right: 362px;
  padding-bottom: 26px;
  padding-left: 362px;
}

.yourmail {
  width: 600px;
  height: 60px;
  border-radius: 10px 0 0 10px;
  border: 0;
}

.advantages-title,
.sub-advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.advantages-title {
  padding-top: 92px;
}
.advantages-description-text,
.advantages-description {
  font-weight: 400;
  padding-right: 85px;
  padding-left: 85px;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 0;
}

.advantages-description-text {
  padding-top: 30px;
}
.advantages-img {
  padding-top: 80px;
}
.sub-advantages-title {
  padding-top: 30px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 384px 384px 384px 384px;
}
h3 {
  padding-right: 85px;
  padding-left: 85px;
  padding-bottom: 10px;
}

.advantages-bg-blue {
  text-align: center;
  background-size: 100% auto;
  background-color: #82b3d3;
}

.advantages-bg-lightgray {
  background-size: 100% auto;
  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.advantages-bg-gray {
  background-size: 100% auto;
  background: rgba(131, 179, 211, 0.2);
  text-align: center;
}
.advantages-bg-white {
  background-size: 100% auto;
  background: #ffffff;
  text-align: center;
}

.advantages-bg-sedona {
  grid-column: 2 / span 2;
  grid-row: 1 / 2;
}
.advantages-appartments {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.advantages-food {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.advantages-souvenirs {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.advantages-bg-bridge {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscribe,
.subscribe-description,
.advantages-title-white,
.advantages-description-white {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
}

.appointment {
  background-image: url("../images/background-appointment.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.appointment-form {
  display: flex;
  align-items: center;
  padding-left: 200px;
  padding-bottom: 90px;
}

.button-sign-up.button-submit {
  color: #ffffff;
  margin: 0;
  background: #82b3d3;
  border-radius: 0 10px 10px 0;
  border: 0;
  width: 200px;
  height: 60px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
}

.social {
  width: 200px;
  margin-right: 130px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer-social-item {
  padding-top: 58px;
  width: 56px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 8px;
  display: block;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.footer-social-list .footer-social-item {
  min-width: 18px;
  min-height: 15px;
}

.footer-social-list .footer-social-item:nth-child(1) .footer-social-vk {
  background-image: url("../images/social-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-list .footer-social-item:nth-child(2) .footer-social-telegram {
  background-image: url("../images/social-telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-list .footer-social-item:nth-child(3) .footer-social-youtube {
  background-image: url("../images/social-youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-contacts {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  width: 360px;
  margin-right: 200px;
  padding-top: 45px;
}
.logo-html {
  padding-top: 45px;
  margin-left: 150px;
}
