@font-face {
  font-family: "PT Sans";
  src: url("fonts/ptsans-400.woff2") format("woff2"),
  url("fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background: #756157;
border-radius: 4px;
color: #FFFFFF;
background: #756157;
border: 0px;
}

.button-two {
background: #82B3D3;
border-radius: 0px 10px 10px 0px;
}

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}


.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.button-here {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: inherit; 
}

.main-index {
	color: #333333;
  background-color:  #FFFFFF;
}

.intro {background-image: url("../images/background-welcome.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}
	
.welcome {padding-left: 371px;
}

.compare, .search, .appointment {text-align:center;
}

.compare-one, .interest, .subscribe {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.compare-two, .interest-description, .subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}


.advantages-title, .sub-advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscribe, .subscribe-description, .advantages-title-white, .advantages-description-white {color: #FFFFFF;}


.blue {
width: 400px;
height: 384px;
background-color: #82B3D3;
 text-align: center;

}
.lightgray {
width: 400px;
height: 384px;
background-color: rgba(131, 179, 211, 0.12);
 text-align: center;

}
.gray {
width: 400px;
height: 384px;
background: rgba(131, 179, 211, 0.2);
 text-align: center;
 
}
.white {
width: 400px;
height: 384px;
background: #FFFFFF;
 text-align: center;

}

.appointment {background-image: url("../images/background-appointment.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    }

.footer-contacts {
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
text-align: center;
}
   